@use 'variables';
@use 'filters';

// Custom SCSS
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: variables.$footer_height;
}

#scroll-to-top {
	bottom: 1rem;
	right: 1rem;
	z-index: 100;
	opacity: 0;
	transition: opacity ease 0.75s;
}

#scroll-to-top:focus {
	outline: none;
	box-shadow: none;
}

.footer {
	bottom: 0;
	height: variables.$footer_height;
}

.card {
	img {
		@extend %grayscale;
	}
}

.card-img-zoom {
	overflow: hidden;
}
.card-img-zoom img {
	transition: transform ease .5s;
}
.card-img-zoom:hover img {
	transform: scale(1.2);
}
