// CSS Filters

%grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

%blur {
	-webkit-filter: blur(1rem);
	filter: blur(1rem);
}

%no-outline {
	outline: none;
	box-shadow: none;
}
